.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 22%;
  color: var(--twitter-background);
}

.loginTwittericon {
  padding-left: 14px;
}

.loginContainer h1 {
  font-size: 28px;
  line-height: 36px;
  margin-top: 28px;
  margin-bottom: 12px;
  padding-left: 14px;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.loginContainer span:hover {
  color: var(--twitter-background);
}

.loginTextField {
  margin: 12px !important;
  border: 2px solid #202227 !important;
}

.loginTextField:hover {
  border: 2px solid var(--twitter-color) !important;
}

.loginButton {
  display: flex;
  justify-content: center;
  margin: 14px auto;
  width: 90%;
  padding: 12px 0;
  border-radius: 28px;
}

@media (max-width: 1250px) {
  .loginContainer {
    width: 30%;
  }
}
