body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiPaginationItem-textPrimary.Mui-selected {
  color: #fff;
  background-color: var(--twitter-color) !important;
}

.MuiPaginationItem-root {
  color: var(--twitter-background) !important;
}

.MuiCircularProgress-colorPrimary {
  color: var(--twitter-color) !important;
  margin-left: 45%;
}

.MuiCircularProgress-indeterminate {
  animation: none !important;
}
